/* .container {
  text-align: center;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1ODAiIGhlaWdodD0iNDAwIj4KIDxnPgogIDx0aXRsZT5iYWNrZ3JvdW5kPC90aXRsZT4KICA8cmVjdCBmaWxsPSJ0cmFuc3BhcmVudCIgaWQ9ImNhbnZhc19iYWNrZ3JvdW5kIiBoZWlnaHQ9IjM5OCIgd2lkdGg9IjU3OCIgeT0iLTEiIHg9Ii0xIi8+CiAgPGcgZGlzcGxheT0ibm9uZSIgb3ZlcmZsb3c9InZpc2libGUiIHk9IjAiIHg9IjAiIGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIGlkPSJjYW52YXNHcmlkIj4KICAgPHJlY3QgZmlsbD0idXJsKCNncmlkcGF0dGVybikiIHN0cm9rZS13aWR0aD0iMCIgeT0iMCIgeD0iMCIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIvPgogIDwvZz4KIDwvZz4KIDxnPgogIDx0aXRsZT5MYXllciAxPC90aXRsZT4KICA8cmVjdCBpZD0ic3ZnXzEiIGhlaWdodD0iMzk2IiB3aWR0aD0iNTc2IiB5PSIyIiB4PSIyIiBzdHJva2Utd2lkdGg9IjEwIiBzdHJva2U9IiNjNWM1YzUiIGZpbGw9InRyYW5zcGFyZW50Ii8+CiA8L2c+Cjwvc3ZnPg==");
  background-size: 80% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 auto;
  padding: 20px 0;
} */
